# RStudio stuff
.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store
*.Rproj

# Build & docs
.Rbuildignore
doc/
Meta/
inst/doc/


# Generated outputs & caches
outputs/
outputs_cache/
outputs/**
!outputs/.gitkeep

# Large/raw inputs (don’t version)
data-raw/gdx/*      # ignore all contents
!data-raw/gdx/.gitkeep   # except this placeholder

# Large generated tables
*.feather
*.parquet
*.fst
*.rds
inst/doc
/doc/
/Meta/

inst/doc/
Doc/
Meta/
inst/doc/
