project:
  id: "cbam"   # short, file-system-friendly

paths:
  gdx_dir: "data-raw/gdx/eta_cpi_025_beta_infl_1"
  #gdx_dir: "data-raw/gdx/cbam"
  outputs: "outputs"

scenarios:
  - baseline
  # - cbam
  - ff55
  - ff55tariffs
  # add more later
  # - cbam
  # - nze

groups:
  EU28: ["AUT","BEL","BGR","HRV","CYP","CZE","DNK","EST","FIN","FRA","DEU","GRC",
         "HUN","IRL","ITA","LVA","LTU","LUX","MLT","NLD","POL","PRT","ROU","SVK",
         "SVN","ESP","SWE","GBR"]

extract:
  include: ["GDPr_t","HSAVR_t","HDY_VAL_t","GSUR_VAL_t","GINV_VAL_t",
            "Q_t","I_PP_t","P_I_t","K_t","L_t","U_t","P_CPI_t","ir_t",
            "P_INPUT_t","P_Q_t","USE_PP_t","M_TOT_t","P_USE_t","P_Mcif_t",
            "BITRADE_t","GHG_t"]

aggregations:
  additive_symbols: ["GDPr_t","HDY_VAL_t","GSUR_VAL_t","GINV_VAL_t",
                     "Q_t","I_PP_t","K_t","L_t","U_t",
                     "USE_PP_t","M_TOT_t","BITRADE_t","GHG_t",
                     "P_USE_t","P_Mcif_t","P_I_t","P_Q_t","P_INPUT_t"]

save:
  # optional extra per-table formats (keep empty if you don't want them)
  formats: []   # e.g., ["csv","fst","rds"]

  # Write ONE consolidated list RDS with all variables (results_by_symbol):
  list_rds:
    enabled: true
    basename: "results_by_symbol"   # versioned + _latest will be written

  # Selective bundles (each becomes bundle_<name>_*.rds and _latest.rds)
  bundles:
    diagnostic_app:
      include: ["GDPr_t","HDY_VAL_t","HDYr_t","I_TOT_PP_t","DS_t","FS_t","GSUR_VAL_t",
                "GINV_VAL_t","TB_t","TBr_t","TB_GDP_t","HSAVR_t","U_t","KLratio_country_t",
                "ir_t","P_HH_CPI_t","I_PP_t","K_t","L_t","GHG_t","KLratio_t","P_Q_t",
                "P_KL_t","I_PP_SECT6_t","Q_SECT6_t","Q_SECT6_REG_t","OUT_COMP6_SHARE_REAL_t","BITRADE_REG_t","BITRADE_SECT6_REG_t",
                "P_USE_t", "USE_PP_t", "M_TOT_t", "P_Mcif_t"]

    results_app:
      include: ["GDPr_t","TBr_t","TB_GDP_t","I_PP_SECT6_t","Q_SECT6_t","Q_SECT6_REG_t","OUT_COMP6_SHARE_REAL_t","BITRADE_REG_t","BITRADE_SECT6_REG_t"]
      filters:
        BITRADE_REG_t:
          keep:
            c: ["TOT"]           # keep only commodity total

derive:
  # list base symbols to promote to 'derived' (wide) if not already present there
  include_from_base: ["GDPr_t"]
  # keys:
  #   GDPr_t: ["n","t"]

export_csv:
  enabled: true
  bundle: "results_app"                  # which bundle to export to CSV
  out_basename: "results_bundle_template"  # outputs/derived/<name>.csv
  model_name: "FIDELIO"
  pct_as_percent: true
  include_dim_names: false
  unit_overrides:
    GDPr_t: "real (base=2014)"
    TB_GDP_t: "ratio"
    I_PP_SECT6_t: "PP units"
